# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

backend/config.php
mysql-8/\#innodb_temp/temp_9.ibt
mysql-8/\#innodb_temp/temp_1.ibt
mysql-8/\#innodb_redo/\#ib_redo5
mysql-8/\#innodb_temp/temp_10.ibt
mysql-8/\#innodb_temp/temp_2.ibt
mysql-8/\#innodb_temp/temp_3.ibt
mysql-8/\#innodb_temp/temp_6.ibt
mysql-8/\#innodb_temp/temp_5.ibt
mysql-8/\#innodb_redo/\#ib_redo5
mysql-8/\#innodb_temp/temp_4.ibt
mysql-8/\#innodb_redo/\#ib_redo5
mysql-8/\#innodb_temp/temp_7.ibt
mysql-8/\#innodb_redo/\#ib_redo5
mysql-8/binlog.000002
mysql-8/binlog.index
mysql-8/ibtmp1
mysql-8/mysql.ibd
mysql-8/takenlijst/users.ibd
mysql-8/takenlijst/taken.ibd
mysql-8/undo_001
mysql-8/undo_002
mysql-8/TBW.pid
mysql-8/ibdata1
mysql-8/mysql.ibd
mysql-8/mysqld.log
mysql-8/undo_001
mysql-8/undo_002
mysql-8/mysql.ibd
mysql-8/binlog.index
mysql-8/\#innodb_temp/temp_8.ibt
mysql-8/\#innodb_redo/\#ib_redo5
mysql-8/ibdata1
mysql-8/binlog.index
mysql-8/mysql.ibd
mysql-8/mysqld.log
mysql-8/undo_001
mysql-8/undo_002
mysql-8/binlog.index
mysql-8/undo_001
/mysql-8
